<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle UpgradeCode="$(var.BundleUpgradeCode)"
          Name="Runtime Pack Verified ($(var.TargetArchitecture), $(var.BundleMode))"
          Version="$(var.BundleVersion)"
          Manufacturer="Runtime Pack Verified contributors"
          AboutUrl="https://github.com/qb20nh/vcredist"
          UpdateUrl="https://github.com/qb20nh/vcredist/releases"
          Compressed="yes"
          DisableModify="button">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="hyperlinkLicense"
          ThemeFile="Theme\RuntimePackTheme.xml"
          LicenseUrl="https://github.com/qb20nh/vcredist/blob/master/LICENSE"
          ShowVersion="yes"
          SuppressOptionsUI="no"
          SuppressRepair="no"
          SuppressDowngradeFailure="no" />
    </BootstrapperApplication>

    <!-- Persisted and command-line overridable selections are intentionally audited inputs. -->
    <Variable Name="Feature_VcRedistV14" Type="numeric" Value="1" Persisted="yes" bal:Overridable="yes" />
    <Variable Name="Feature_DotNetDesktop" Type="numeric" Value="1" Persisted="yes" bal:Overridable="yes" />
    <Variable Name="Feature_DotNetAspNet" Type="numeric" Value="1" Persisted="yes" bal:Overridable="yes" />
    <Variable Name="Feature_DotNetFramework" Type="numeric" Value="1" Persisted="yes" bal:Overridable="yes" />
    <Variable Name="Feature_DotNetFramework35" Type="numeric" Value="0" Persisted="yes" bal:Overridable="yes" />
    <Variable Name="Feature_DirectXLegacy" Type="numeric" Value="0" Persisted="yes" bal:Overridable="yes" />
    <Variable Name="Feature_DirectXAvailable" Type="numeric" Value="$(var.DirectXAvailable)" />

    <Chain>
      <ExePackage Id="NetFx35Enabler"
                  SourceFile="$(var.NetFx35HelperPath)"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  InstallArguments="--enable"
                  RepairArguments="--enable"
                  DetectCondition="0"
                  InstallCondition="Feature_DotNetFramework35"
                  LogPathVariable="NetFx35EnablerLog">
        <ExitCode Value="3010" Behavior="scheduleReboot" />
        <ExitCode Value="1641" Behavior="forceReboot" />
      </ExePackage>
      <PackageGroupRef Id="RuntimeInputs" />
    </Chain>
  </Bundle>
</Wix>
